@import '~scss/variables';

.c-image-grid {
    padding: 12px 36px;
}

.c-image-grid__images {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 18px;

    @media only screen and (max-width: $tablet) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

.c-image-grid__info {
    padding: 24px 0;
    width: 100%;
    text-align: center;

    i {
        font-size: 60px;
    }
}