@import '~scss/variables';

.c-services__container {
    padding: 96px 0;
    background: url("https://createmusicgroup.com/static/img/albumbg1.66908f915cc8.jpg") repeat;
}

.c-services__title {
    color: white;
    padding: 48px 0 24px;
}

.c-services__items {    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap: 48px;
    padding: 48px;
}

.c-services__item {

    text-align: center;

    h3 {
        color: $secondary;
        font-size: 14px;
        padding: 16px 0;
    }

    p {
        color: white;
        font-size: 12px;
        letter-spacing: 0.05em;
    }
}

.c-services__item-icon {
    color: $primary;
    font-size: 60px;
    margin-bottom: 12px;
}