@import '~scss/variables';

.c-footer {
    background: #000;
    border-bottom: 30px solid $primary;
    border-top: 3px solid $primary;
    color: white;
}

.c-footer__container {
    padding: 14px 0;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    h2 {
        font-family: 'Nunito', sans-serif;
        letter-spacing: 0.3em;

        @media only screen and (max-width: $mobile) {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

.c-footer__social {
    justify-content: flex-end;
}

.c-footer__logo, .c-footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: $mobile) {
        justify-content: center;
    }
}

.c-footer__social-icon {
    padding: 4px;
    margin: 12px;
    color: #fff;
    font-size: 22px;
    transition-duration: .3s;

    &:hover {
        color: $primary;
    }
}