@import '~scss/variables';

.c-image-slider__container {
    width: 100%;
    height: 100%;
}

.c-image-slider__item {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
}